<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <% data.forEach(product => { %>
        <tr>
            <td><%= product.articul %></td>
            <td><img width="100px" src="/images/<%= product.code %>.jpg"></td>
            <td><%= product.code %></td>
            <td><%= product.cost %></td>
            <td>
                <% if(product.more){ %>
                <p>Размер:<%= product.more.size %></p>
                <p>Производитель:<%= product.more.producer %></p>
                <p>Название:<%= product.more.title %></p>
                <p>Цена:<%= product.more.roznica %></p>
                <% } %>
            </td>
        </tr>
    <% }); %>
</table>
</body>
</html>